<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>GhTopRepos &mdash; dev challenge =)</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <div class="flex">
          <a href="/" class=""><h1>Github Top Repos</h1></a>
          <nav class="top">
            <a href="/repos/favorites">My top repos</a>
          </nav>
        </div>
      </section>
    </header>

    <main>
      <%= @inner_content %>
    </main>
  </body>
</html>
