---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=desc&per_page=10&q=language:C&sort=stars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?sort=stars&order=desc&per_page=10&q=language%3AC&page=2>;
        rel="next", <https://api.github.com/search/repositories?sort=stars&order=desc&per_page=10&q=language%3AC&page=100>;
        rel="last"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1616978263'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1664223,"incomplete_results":false,"items":[{"id":2325298,"node_id":"MDEwOlJlcG9zaXRvcnkyMzI1Mjk4","name":"linux","full_name":"torvalds/linux","private":false,"owner":{"login":"torvalds","id":1024025,"node_id":"MDQ6VXNlcjEwMjQwMjU=","avatar_url":"https://avatars.githubusercontent.com/u/1024025?v=4","gravatar_id":"","url":"https://api.github.com/users/torvalds","html_url":"https://github.com/torvalds","followers_url":"https://api.github.com/users/torvalds/followers","following_url":"https://api.github.com/users/torvalds/following{/other_user}","gists_url":"https://api.github.com/users/torvalds/gists{/gist_id}","starred_url":"https://api.github.com/users/torvalds/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/torvalds/subscriptions","organizations_url":"https://api.github.com/users/torvalds/orgs","repos_url":"https://api.github.com/users/torvalds/repos","events_url":"https://api.github.com/users/torvalds/events{/privacy}","received_events_url":"https://api.github.com/users/torvalds/received_events","type":"User","site_admin":false},"html_url":"https://github.com/torvalds/linux","description":"Linux
        kernel source tree","fork":false,"url":"https://api.github.com/repos/torvalds/linux","forks_url":"https://api.github.com/repos/torvalds/linux/forks","keys_url":"https://api.github.com/repos/torvalds/linux/keys{/key_id}","collaborators_url":"https://api.github.com/repos/torvalds/linux/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/torvalds/linux/teams","hooks_url":"https://api.github.com/repos/torvalds/linux/hooks","issue_events_url":"https://api.github.com/repos/torvalds/linux/issues/events{/number}","events_url":"https://api.github.com/repos/torvalds/linux/events","assignees_url":"https://api.github.com/repos/torvalds/linux/assignees{/user}","branches_url":"https://api.github.com/repos/torvalds/linux/branches{/branch}","tags_url":"https://api.github.com/repos/torvalds/linux/tags","blobs_url":"https://api.github.com/repos/torvalds/linux/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/torvalds/linux/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/torvalds/linux/git/refs{/sha}","trees_url":"https://api.github.com/repos/torvalds/linux/git/trees{/sha}","statuses_url":"https://api.github.com/repos/torvalds/linux/statuses/{sha}","languages_url":"https://api.github.com/repos/torvalds/linux/languages","stargazers_url":"https://api.github.com/repos/torvalds/linux/stargazers","contributors_url":"https://api.github.com/repos/torvalds/linux/contributors","subscribers_url":"https://api.github.com/repos/torvalds/linux/subscribers","subscription_url":"https://api.github.com/repos/torvalds/linux/subscription","commits_url":"https://api.github.com/repos/torvalds/linux/commits{/sha}","git_commits_url":"https://api.github.com/repos/torvalds/linux/git/commits{/sha}","comments_url":"https://api.github.com/repos/torvalds/linux/comments{/number}","issue_comment_url":"https://api.github.com/repos/torvalds/linux/issues/comments{/number}","contents_url":"https://api.github.com/repos/torvalds/linux/contents/{+path}","compare_url":"https://api.github.com/repos/torvalds/linux/compare/{base}...{head}","merges_url":"https://api.github.com/repos/torvalds/linux/merges","archive_url":"https://api.github.com/repos/torvalds/linux/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/torvalds/linux/downloads","issues_url":"https://api.github.com/repos/torvalds/linux/issues{/number}","pulls_url":"https://api.github.com/repos/torvalds/linux/pulls{/number}","milestones_url":"https://api.github.com/repos/torvalds/linux/milestones{/number}","notifications_url":"https://api.github.com/repos/torvalds/linux/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/torvalds/linux/labels{/name}","releases_url":"https://api.github.com/repos/torvalds/linux/releases{/id}","deployments_url":"https://api.github.com/repos/torvalds/linux/deployments","created_at":"2011-09-04T22:48:12Z","updated_at":"2021-03-29T00:20:52Z","pushed_at":"2021-03-28T22:50:58Z","git_url":"git://github.com/torvalds/linux.git","ssh_url":"git@github.com:torvalds/linux.git","clone_url":"https://github.com/torvalds/linux.git","svn_url":"https://github.com/torvalds/linux","homepage":"","size":3178955,"stargazers_count":108041,"watchers_count":108041,"language":"C","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":36322,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":324,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"forks":36322,"open_issues":324,"watchers":108041,"default_branch":"master","score":1.0},{"id":10744183,"node_id":"MDEwOlJlcG9zaXRvcnkxMDc0NDE4Mw==","name":"netdata","full_name":"netdata/netdata","private":false,"owner":{"login":"netdata","id":43390781,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQzMzkwNzgx","avatar_url":"https://avatars.githubusercontent.com/u/43390781?v=4","gravatar_id":"","url":"https://api.github.com/users/netdata","html_url":"https://github.com/netdata","followers_url":"https://api.github.com/users/netdata/followers","following_url":"https://api.github.com/users/netda[...]
