<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathAPI" value="https://api.github.com/" />
  </appSettings>
  <connectionStrings>
    <add name="DBAC0001" connectionString="Data Source=DRACO-PC;Initial Catalog=DBAC0001;Integrated Security=True;" />
  </connectionStrings>
</configuration>