@using System.Security.Claims;

<ul class="navbar-nav">
@{
    var logged = User.Claims.Any(c => c.Type.Equals("UserID"));

    @if(logged)
    {
        <li class="nav-item">
            @User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.Name))?.Value
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
}
    

</ul>