@mixin loading-component {
  display: flex;
  .loading-text {
    margin-right: 1rem;
  }
  .loader {
    width: 1rem;
    height: 1rem;
    border: 2px solid black;
    border-top-color: lightgray;
    border-radius: 50%;
    animation: rotate ease 1s infinite;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }  
}

@mixin button-component {
  background-color: $blue;
  height: 3rem;
  border: 1px solid $gray;
  border-radius: .3rem;
  color: white;
  transition: .1s;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    background-color: lighten($blue, 10%);
    font-size: 1.02rem;
  }
}