@mixin loading-component {
  display: flex;
  padding: 1rem;
  width: max-content;
  border: 1px solid black;
  border-radius: .3rem;
  background: rgb(113, 220, 220);
  .loading-text {
    margin-right: 1rem;
  }
  .loader {
    width: 1rem;
    height: 1rem;
    border: 2px solid black;
    border-top-color: lightgray;
    border-radius: 50%;
    animation: rotate ease 1s infinite;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }  
}