# Backend Git Ignore

bin/
obj/
/packages/
/.vscode/
appsettings.json
docker-compose.yml

# Frontend Git Ignore

/frontend/hiring-challenge-spa/.DS_Store
/frontend/hiring-challenge-spa/.thumbs.db
/frontend/hiring-challenge-spa/node_modules
/frontend/hiring-challenge-spa/.vscode/

# Quasar core related directories
/frontend/hiring-challenge-spa/.quasar
/frontend/hiring-challenge-spa/dist/

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
/frontend/hiring-challenge-spa/npm-debug.log*
/frontend/hiring-challenge-spa/yarn-debug.log*
/frontend/hiring-challenge-spa/yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
