# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.
version: '3.4'

services:
  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: "your_password"
    ports:
      - "host_port:5432"
    restart: always