version: '3.7'

services:
  web:
    build: .
    command: gunicorn desafio_dev.wsgi -b 0.0.0.0:8000
    environment:
      - ENVIRONMENT=development
    volumes:
      - .:/code
    ports:
      - 8000:8000
    depends_on:
      - db
  db:
    image: postgres:11
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

volumes:
  postgres_data: 
