# Ambient
RAILS_ENV=development

# Security
RAILS_MASTER_KEY=b4e2eea18db0a3ceac790229a37874dc

DATABASE_URL=postgres://username:password@localhost/dev_hiring_challenge_production
DATABASE_TEST_URL=postgres://username:password@localhost/dev_hiring_challenge_test
DATABASE_DEV_URL=postgres://username:password@localhost/dev_hiring_challenge_development