astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
dnspython==1.16.0
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
idna==2.8
imutils==0.5.3
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mysql-connector-python==8.0.19
mysqlclient==1.4.6
Pillow==6.2.1
protobuf==3.6.1
pylint==2.4.3
pyparsing==2.4.2
python-dateutil==2.8.0
requests==2.22.0
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
SQLAlchemy==1.3.13
typed-ast==1.4.0
urllib3==1.25.8
Werkzeug==0.16.0
wrapt==1.11.2
