<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/repositories"
          >Repositórios Salvos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="repositories_api">Pesquisar</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          data-confirm="Tem certeza?"
          data-method="delete"
          href="logout"
          class="btn btn-danger"
          role="button"
          >Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
