<div class="flex flex-wrap items-center justify-between w-full p-8 pt-12">
  <h2 class="text-4xl text-indigo-900 font-display font-semibold">
    Repositórios do Github
  </h2>

  <%= link_to 'Atualizar Repositórios', importers_path,
              class: 'bg-indigo-800 text-white font-bold text-md py-4 px-8 rounded', method: :post %>

  <div class="w-full align-middle">
    <div class="mt-4 mb-4 block"></div>
    <div class="repo-list grid grid-cols-4 gap-4">
      <%= render @repositories %>
    </div>
  </div>
</div>

