// Specific CSS for your home-page
body, html {
  height: 100%;
  background-image: url("Github Fetcher.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #072972;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}