@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@
<z>
    <address>
        github: smarcelo-code<br />
        <br />
        <abbr title="Phone">41 98469-2535</abbr>
    </address>

    <address>
        <strong>E-mail:</strong> smarcelorr@gmail.com

    </address>
    
    <z><p>Desde já agradeço a oportunidade, aprendi muito esse final de semana.</p></z>
</z>
