<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://cdn-images-1.medium.com/max/1600/1*Edn_LpbSpLeNKfWkEdG2Jg.png", style: "height: 20px; width: 90px;" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Meus Favoritos", repositories_path, class: "btn btn-md btn-outline-secondary favorite-btn nav-link mr-2" %>
      </li>
      <li class="nav-item">
        <%= link_to "Login", "#", class: "nav-link btn btn-md btn-outline-primary" %>
      </li>
    </ul>
  </div>
</div>
