<div class="container overflow-auto">

	<div class="row">
	  <div class="col-4">
		  <figure class="figure">
			<img src="{{data.organization_avatar_url}}" class="figure-img img-fluid rounded">
			<figcaption class="figure-caption">{{data.organization_name}}</figcaption>
		 </figure>
	  </div>
	  <div class="col-8">
			<div class="row">
				<div class="col-12">
					<h5> <img src="{{data.language_img }}" width='24px'> {{data.language}}</h5>
				</div>
				<div class="col-12">
					<h6>{{data.full_name}}</h6>
				</div>
				<div class="col-12">
					<p>{{data.description}} </p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
	  <div class="col-12">
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><small>Project homepage:</small> <a href='{{data.homepage}}' target='_blank'>{{data.homepage}}</a></li>
				<li class="list-group-item"><small>Json detail:</small> <a href='{{data.url}}' target='_blank'>{{data.url}}</a></li>
				<li class="list-group-item"><small>GitHub:</small> <a href='{{data.clone_url}}' target='_blank'>{{data.clone_url}}</a></li>
			</ul>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-3 text-center">
			<p><small>Size</small></p>
			<span class="badge rounded-pill bg-warning text-dark">{{data.size}}</span>
		</div>
		<div class="col-3 text-center">
			<p><small>Forks</small></p>
			<span class="badge rounded-pill bg-warning text-dark">{{data.forks_count}}</span>
		</div>
		<div class="col-3 text-center">
			<p><small>Network</small></p>
			<span class="badge rounded-pill bg-warning text-dark">{{data.network_count}}</span>
		</div>
		<div class="col-3 text-center">
			<p><small>Star</small></p>
			<span class="badge rounded-pill bg-warning text-dark">{{data.stargazers_count}}</span>
		</div>
	</div>
 
</div>

	