<div class="col mb-4">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title"><%= star.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= star.language %></h6>
      <p class="card-text">
        <%= star.description %>
      </p>
    </div>
  </div>
</div>
