<div class="gap-4 flex flex-col max-w-3xl items-center md:w-1/2 px-8 md:px-16 p-4">
  <h1 class="text-5xl font-bold mb-4">
      Languages
  </h1>
  <div id="languages" class="flex flex-col gap-2">
    <% @languages.each do |language| %>
      <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
          <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"><%= language.name.capitalize %></h5>
          <%= link_to 'Repositories saved <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>'.html_safe, language, { :class => "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 duration-300"} %>
      </div>
    <% end %>
  </div>
    <%= link_to "Search repos", results_path, {:class => "rounded-lg px-4 py-2 text-md font-bold text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 duration-300"} %>
</div>
