<p style="color: green"><%= notice %></p>

<h1>Languages</h1>

<div id="languages">
  <% @languages.each do |language| %>
    <%= render language %>
    <p>
      <%= link_to "Show this language", language %>
    </p>
  <% end %>
</div>

<%= link_to "New language", new_language_path %>
