<!-- Layout navbar -->
<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center container-p-x bg-navbar-theme" id="layout-navbar" style="background-color: #fff ">


  <div class="navbar-collapse collapse" id="layout-navbar-collapse">
    <!-- Divider -->
    <hr class="d-lg-none w-100 my-2">
    <%= image_tag('logo.svg', style: 'height: 50px;') %>
    <div class="navbar-nav align-items-lg-center ml-auto">
      <div class="demo-navbar-notifications nav-item dropdown mr-lg-3">

        <a class="nav-link" href="#">
          <i class="sidenav-icon fas fa-user"></i> Felipe Afonso
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- / Layout navbar -->
