<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1b409fea-c88b-4823-95a6-79756ed1d1d5/resourceGroups/Ateliware/providers/Microsoft.Web/sites/AteliwareGitHub-Server</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://ateliwaregithub-server.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>ateliwaregithub-server.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AteliwareGitHub-Server</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AteliwareGitHub-Server</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>