.repo-list {
  .repo-item {
    .repo-name {
      @apply text-indigo-800 font-semibold;

      .counter {
        @apply text-sm font-normal;
      }
    }

    .repo-fullname {
      @apply bg-gray-300 text-xs font-normal text-yellow-900;
    }

    .lang-tag {
      @apply text-indigo-800 font-light text-xs;
    }

    .ball-lang {
      border-radius: 50%;
      display: inline-block;
      width: 14px;
      height: 14px;
    }

    .counters {
      .counter {
        .label {
          @apply text-sm text-gray-900;
        }

        .amount {
          @apply bg-gray-400 font-bold text-black;
        }
      }
    }
    
  }
}
