.repository {

  .repository-title {
    .avatar {
      width: 34px;
      height: 34px;
      overflow: hidden;
      border-radius: 50%;
      display: inline-block;
      img {
        width: 100%;
      }
    }

    a {
      @apply text-indigo-700 font-extrabold;
    }

    .separator {
      @apply text-indigo-900 font-semibold;
    }
  }

  .repo-info-item {
    .label  {
      @apply text-indigo-600 font-semibold;
    }

    .counter, .info {
      @apply text-indigo-800 font-extrabold;
    }
  }

}
