html, body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

header {
    position: sticky;
    top: 0;
    background: #fff;
}

main {
}

.container {
    padding: 0 6em;
    max-width: 1440px;
}

.error-40x {
    text-align: center;
    h1 {
        font-size: 140px;
        font-weight: 200;
        margin: 1em 0 0 0;
        padding: 0;
    }
    p {
        font-size: 2em;
        color: #aaa;
        margin: 0;
        padding: 0;
    }
}

footer {
    position: fixed;
    font-size: .9em;
    color: #888;
    bottom: 10px;
    right: 30px;
}

header .top {
    padding-top: 2em;
    padding-bottom: 2em;
}

header h1 img {
    vertical-align: middle;
    margin-right: 9px;
}

header h1 span {
    color: #a1a1a1;
}

a {
    text-decoration: none;
    color: #333;
}

button {
    cursor: pointer;
}


/****************************************************
 * Flex
 ****************************************************/

.flex {
    display: flex;
}

.flex.flex-col {
    flex-direction: column;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}

.flex.v-center {
    align-items: center;
}

.flex.h-center {
    justify-content: center;
}


/****************************************************
 * Top bar
 ****************************************************/

nav.top {
    flex: 1;
    text-align: right;
}


/****************************************************
 * Search form
 ****************************************************/

.search {
    max-width: 800px;
    margin: 0 auto;
    padding: 10em 0;

    input, button, select {
        font-size: 20px;
        padding: 1em;
        border-radius: 3px;
        border: none;
        outline: none;
    }
}

.search form {
    padding: 6px;
    border: solid 1px #8a8a8a;
    border-radius: 6px;
}

.search input {
    flex: 1;
}

.search select {
    margin-right: 3px;
    background: #ededed;
}

.search button {
    background: #44bb4b;
    color: #fff;
    font-weight: 600;
}


/****************************************************
 * Repos list
 ****************************************************/
.repos-list {

    > div {
        flex-grow: 1;
        width: 33%;
        max-width: 33%;
        box-sizing: border-box;
        padding: 1em;
    }

    .repo {
        height: 120px;
        padding: 1.5em 2em;
        box-shadow: 0 1px 3px rgba(0,0,0,.2);
    }

    .repo .title {
        font-weight: 600;
        font-size: 1.1em;
    }

    .repo .description {
        color: #8a8a8a;
    }

    .repo .stats {
        padding-top: 1em;
    }

    .repo > div {
        margin-bottom: 6px;
    }

    .repo img {
        width: 14px;
        margin-right: 6px;
        opacity: .5;
    }
}


