
<div class="container">
  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Awesome Repos - very good repositories from github!</h1>
        <p> Click bellow to fetch the top repositories data from GitHub.</p>
        <p>
          <a class="btn btn-primary" href="/repositories/" role="button">Grab GitHub Data</a>
        </p>
      </div>
    </div>
  </main>
</div>