<h1>OLA</h1>

<h3>A pesquisa atual está procurando as seguintes linguagens:</h3>
<ul>
  <li>Ruby</li>
  <li>JavaScript</li>
  <li>Python</li>
  <li>Elixir</li>
  <li>Java</li>
</ul>

<h3>Clique no botão abaixo para ver os resultados!</h3>
<h4><%= @user %></h4>


