---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1616978727'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"resource":"Search","field":"q","code":"missing"}],"documentation_url":"https://docs.github.com/v3/search"}'
  recorded_at: Mon, 29 Mar 2021 00:44:27 GMT
recorded_with: VCR 6.0.0
