@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .fade-in { animation: fadeIn 0.2s 1 linear; }
  .fade-out { animation: fadeOut 0.2s 1 linear; }

  .collapse-close { animation: collapseClose 0.2s 1 linear; transform: rotate(270deg); }
  .collapse-open { animation: collapseOpen 0.2s 1 linear; }

	.loader {
		border-right-color: transparent;
		animation: loader-rotate 1s linear infinite;
	}
  @keyframes loader-rotate {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }


  @keyframes collapseClose {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(270deg);
    }
  }

  @keyframes collapseOpen {
    from {
      transform: rotate(270deg);
    }
    to {
      transform: rotate(0);
    }
  }
}
