<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<body>
	<h1 layout:fragment="header">Ateliwware Dev Challenge</h1>
	<div layout:fragment="content" class="container">
		<h2 th:text="'Stored repositories: '+${size}">Stored repositories: 1</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Language</td>
					<td>Name</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${repos.empty}">
					<td colspan="3">No repositories</td>
				</tr>
				<tr th:each="repository : ${repos}">
			
					<td th:text="${repository.id}">1</td>
					<td th:text="${repository.language}">Java</td>
					<td><a href="view.html" th:href="@{'/repository/' + ${repository.id}}" th:text="${repository.name}">
							name </a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>