@import "~bootstrap/scss/bootstrap";
//@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$white: white;
$black: black;

.navbar {
  margin-bottom: 0;
  background: $black;
}

body {
  background: $black;
  color: $white;
  font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
  font-weight: bold;
}

p {
  font-size: 16px;
  color: $white;
}

.jumbotron {
  background: #0048CD;
  color: $white;
  text-align: center;
  p {
          color: $white;
          font-size: 26px;
  }
}

.link {
  color: $white;
}

.btn-primary {
  color: $white;
  border-color: $white;
  margin-bottom: 5px;
}

.btn-sm {
  background-color: $white;
  display: inline-block;
}

img,
video,
audio {
  margin-top: 20px;
  max-width: 80%;
}
caption {
  float: left;
  clear: both;
}

.card {
  background-color: black;
  &:not(:last-child) {
    border-bottom: 1px solid rgb(200, 200, 200);
  }
}

.page-repositories-list {
  div:not(:last-child) {
    margin-bottom: 10px;
  }

  .repositories-wrapper {
    .card:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .repositories-header {
    text-align: end;
    border-bottom: 3px solid white;
  }

  .favorite-btn {
    min-width: max-content;
  }

  h6 {
    min-width: max-content;
  }

  a {
    color: white;

    h3 {
      text-decoration: white;
    }
  }
}

.page-starred-repositories-list {
  .remove-btn {
    min-width: max-content;
  }

  a {
    color: white;

    h3 {
      text-decoration: white;
    }
  }
}
