{% extends '_base.html' %}

{% block title %}Informação{% endblock title %}

{% block content %}

<div class="row">
  <div class="centraliza">
      <div class="col-xs-6">
        <h3><label >Digite uma linguagem para ver seus repositórios destaque:</label></h3>

        <form class="form-inline" action="{% url 'search_results' %}"
        method="get">
          <input name="q" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Digite uma linguagem"
          aria-label="Search">
          <button type="submit" class="btn btn-outline-success mr-3 ">Success</button>
          <p>As linguagens são (Python, javascript, PHP, HTML5, Ruby)</p>
        </form>
      </div>
  </div>
</div>





{% endblock content %}