<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ateliware</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
<h2>Buscar Repositórios destas linguagens: </h2>
<ul>
    <li>Python</li>
    <li>JavaScript</li>
    <li>Java</li>
    <li>Go</li>
    <li>Ruby</li>
</ul>

<button>
     <a class="nav-link" href="/list">Buscar</a>
</button>


</body>

</html>