.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content {
  background-color: #fff;
  width: 100%;
  max-width: 540px;
  padding: 10px;
  border-radius: 6px;
  margin: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.button {
  background-color: #ffdc34;
  color: #110133;
  border: none;
  padding: 8px 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}