.navbar{
  padding: 20px 30px;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  justify-content: space-around;

  a{
    &:hover{
      text-decoration: none;
    }
  }
  
  h1 {
    font-family: 'Bungee Shade', cursive;
    color: white;
    text-align: center;
    font-size: 60px;
  }
}

.footer{
  font-family: 'Bungee';
  color: white;
  margin-top: 120px;
  margin-right: 20px;
  text-align: right;
  .canva-disclaimer{
    font-size: 10px;
    margin-bottom: 10px;
  }
}