@tailwind base;
@tailwind components;
@tailwind utilities;

.repo-container div ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  list-style: none;
}

.repo-container div ul li {
  padding: 24px;
  position: relative;
  width:444px;
  max-width:444px;
  height:176.78px;
  max-height:176.78px;
}

#star {
  color: #9CA3AF;
}

div#language-text {
  display: block;
}

div#stars-text {
  display: block;
}
