.logo {
  width: 50px;
  height: 50px;
}

.nav-home {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  width: 100%;
}

.title {
  margin-top: 20px;
}

.wide-form {
  width: 100%;
}

.home-pane {
  margin-left: 45px;
}