html,
body,
ul,
li,
p {
  box-sizing: border-box;
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  letter-spacing: 0px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.octicon {
  filter: invert(1);
  margin: 0 0 0 20px;
}

header {
  align-items: center;
  background-color: #24292e;
  display: flex;
  grid-area: header;
  padding: 16px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: main;
  grid-gap: 10px;
  padding: 35px 10px 20px 10px;
}

footer {
  display: flex;
  grid-area: footer;
  height: 5vh;
  justify-content: center;
}

.repo-box {
  background-color: #f8f8f8;
  border: 1px solid #999999;
  border-radius: 5px;
  display: flex;
  padding: 8px;
}

.repo-info {
  margin: 0 0 0 10px;
}

.img-owner {
  border-radius: 5px;
  height: 62px;
  width: 62px;
}

.owner-name {
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 12px;
  margin: 5px 0 5px 0;
}

span {
  color: blue;
  font-size: 14px;
  cursor: pointer;
}

