<header role="banner" class="flex flex-wrap items-center justify-between p-6">
  <h1 class="text-xl font-bold flex items-center text-indigo-800 px-1 py-3 text-shrink text-white">
    <%= link_to('Github Search', root_path) %>
  </h1>
</header>
