{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">    
    <title>Subscribe</title>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                subscribe
            </p>
        </div>
    </section>
    <div class="container mt-6">
        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input is-info" type="text" placeholder="Text input">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" type="text" placeholder="Text input">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-info" type="email" placeholder="Email input">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Prefered Languages</label>


                    <div class="columns mt-2">

                        <div class="control">
                            <div class="select pr-2 pl-2">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>

                        <div class="control">
                            <div class="select pr-2 pl-2">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>

                        <div class="control">
                            <div class="select pr-2 pl-2">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="columns mt-1">
                        <div class="control">
                            <div class="select pr-2 pl-2">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>

                        <div class="control">
                            <div class="select pr-2 pl-2">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <button class="button is-primary">Subscribe</button>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</body>

</html>