{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Search GitHub Repos</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="{% static 'images/logo.png' %}" alt="GitHub">
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <p>Busca de repositórios destaques das linguagens: Java, Python, Ruby, Rust e Go.</p>
                        <form method="get" action="/">
<!--                            <input type="text" name="nome" placeholder="Digite o nome da linguagem que deseja buscar.">-->
                            <input type="submit" name="enviar" value="Atualizar">
                        </form>
                        <hr>
                        <p>Repositórios</p>
                        <hr>
                        <div>
                            {% block content %}
                            {% endblock %}
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    Ateliware - Dev Hiring Challenge
                </div>
            </footer>
        </div>
    </body>
</html>
