<% if record && record.errors.any? %>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Desculpe! Não foi possível salvar:</h4>
  <ul>
  <% record.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>


