<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow menu-application">
    <%= image_tag("logo_ateliware.svg", :alt => "Logo ateliware menu", :class => "logo-menu") %>
    <h5 class="my-0 mr-md-auto font-weight-normal">Desafio Ateliware</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="#contaier_linguagens">Detalhes</a>
        <a class="p-2 text-dark" href="#sobre">Sobre</a>
    </nav>
    <% if user_signed_in? %>
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => "btn btn-outline-primary" %>
    <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-outline-primary-blue' %>
    <% end %>
</div>
