<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="/repositories">Awesome Repos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <% @languages_list.each do |language| %>
      <li class="nav-item">
        <%= link_to language.capitalize, { controller: 'repositories', language: language }, class: 'nav-link' %>
      </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item mx-3">
        <a href="/repositories/fetch_data" class="btn btn-sm btn-primary" type="button">Fetch repositories data</a>
      </li>
      <li class="nav-item">
        <a href='/repositories/clear_data' class="btn btn-sm btn-danger" type="button">Clear all data</a>
      </li>
    </ul>
  </div>
  </div>
</nav>